/* AStra CSS */


/* GLOBAL */


/* BODY */


/* TYPO */


/* LAYOUT */


/* HEADER */
#logo {
	margin: 0;
	padding: 0;
	
	font-size: 20px;
}

.navbar a.brand {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

#nav-placeholder {
	padding-top: 39px;
}

/* BANNER */
#banner {
	min-height: 150px;
	background: url(../images/bg/sq.png) ;
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

#sub-banner {
	padding: 15px 0;
	text-align: center;
	background-color: whiteSmoke;
	border-top: 1px solid white;
	border-bottom: 1px solid #DDD;
}

.banner-wrap {
	padding-top: 30px;
	padding-bottom: 30px ;
}

#banner h2,
#banner h3,
#banner h4{
	font-weight: normal ;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	
}

#banner h1 {
	font-size: 75px;
	line-height: 110% ;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

/* MODULES */
.moduletable.well .module-header {
	margin-top: -10px;
}

#top-container {
	margin-top: 15px;
}

/* MENU */


/* MAIN CONTENT */


/* LEFT COLUMN */


/* RIGHT COLUMN */


/* ARTICLE */


/* TABLE */


/* FOOTER */
#bottom-breadcrumbs {
	padding: 0;
	background-color: whiteSmoke;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

#bottom-breadcrumbs .breadcrumb {
	margin: 0;
}

#footer{
	background-color: #111 ;
	color: #666;
	padding-top: 15px;
}

#footer a,
#copyright a{
	color: #aaa;
}

#footer a:hover,
#copyright a:hover{
	color: #999;
}


#footer .well {
	color: #333;
}

#footer .well a {
	color: #666;
}

#copyright {
	background-color: #111 ;
	color: #666;
	border-top: 1px solid #333;
	padding-top: 15px;
	padding-bottom: 15px;
}

h3#footer-logo {
	margin: 0;
	padding: 0;
}

h3#footer-logo a {
	margin-right: 20px;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

h3#footer-logo a:hover {
	color: white;
	text-decoration: none ;
}


/* Tablet */
@media (max-width: 767px) {
	.full-width {
		padding-left: 20px;
		padding-right: 20px;
		margin-right: -20px;
		margin-left:  -20px;
	}
	
	#nav-placeholder {
		padding-top: 0;
		margin-top: -20px;
	}
}
